body {
    font-family: "Rockwell", "Arial Narrow", Arial, sans-serif;
    background-image: url('https://i.postimg.cc/5NYtppsJ/Animation-Minions-Wallpaper-1920x1080-Animation-Minions.jpg');
    background-size: cover;
    background-attachment: fixed; 
    color: black;
    text-shadow: red;
}
span {
    color: red;
}


img{
    width: 4cm;
    border-top: 80%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px red;
    padding: 6px;
    background: white;
    margin: 15px;
    transition: 0.2s;
    opacity: 93%;
    width: 6cm;
    height: 6cm;
    object-fit: cover;
}

img:hover{
    transform: scale(1.2);
    opacity: 100%;
    box-shadow: 1px 1px 6px silver;
}

table{
    border-collapse: collapse;
    width: 90%;
}

th{
    border: 1px solid black;
    padding: 8px;
    color: black;


}

td{
    border: 1px solid black;
    padding: 8px;
    color: white;
    text-align: center;
    box-shadow: black;

}

td:first-child{
    text-align: center;
    



}

.judul{
    text-align: center;
    font-size: 30px;
}

.judul-tabel{
    background-color: red;
    color: black;
}

.profile{
    text-align: center;
    font-size: 18px;
    color: blue;
}
.tombol{
    background-color: red;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.tombol:hover{
    background-color: red;
}

a{
    color: orangered;
    text-decoration: none;
}

td:hover{
    background-color: black;
}

h2{
    color: white;

}

.profile P{
    color: white;
    font-size: 25px;
}

.profile{
    margin-top: 50px;
}


h4{
    color: white;
    margin: 0px;
}

h5{
    color: white;
    margin: 0px;
}

h6{
    color: white;
    margin: 0px;
   
}

